<div
  class="grid grid-cols-1 lg:grid-cols-2 py-5 px-5 md:py-10 md:px-20 lg:items-center lg:justify-center"
>
  <div
    class="flex justify-center items-center md:justify-start md:max-w-[300px] lg:max-w-[385px]"
  >
    <img src="assets/images/logo.png" class="w-full" alt="BisHelpers-Logo" />
  </div>
  <div class="flex flex-col">
    <h1
      class="text-heading-sm lg:text-heading-xxlg md:text-heading-xlg leading-heading-xxlg font-semibold md:mb-5 w-full lg:max-w-[360px]"
    >
      Why To Choose <span class="text-brand-500">BIS HELPERS!</span>
    </h1>
    <p
      class="text-paragraph-sm lg:text-paragraph-lg md:text-paragraph-md leading-paragraph-lg text-default-50 py-2 pe-4"
    >
      We're your academic boosters, here to fill the gaps and fuel your success
      at BIS-HU! With tailored solutions and teamwork, we're committed to seeing
      you soar. Join our supportive community where your success is our top
      priority!
    </p>
  </div>
</div>
<div
  class="flex justify-center lg:justify-between flex-wrap py-5 px-5 md:px-20 items-center"
>
  <div class="text flex flex-col max-w-[660px]">
    <h1
      class="text-heading-sm lg:text-heading-xxlg md:text-heading-xlg leading-heading-xxlg font-semibold md:mb-5"
    >
      Who<span class="text-brand-500 m-1">BIS HELPERS!</span>
    </h1>
    <p
      class="text-paragraph-sm lg:text-paragraph-lg md:text-paragraph-md leading-paragraph-lg text-default-50 py-2 pe-4"
    >
      We're your go-to support team! At BIS Helpers, we're all about helping
      BIS-HU students succeed. With personalized services, we empower you to
      excel and make your journey smoother. Join us and let's pave the way to a
      brighter future together!
    </p>
  </div>
  <img
    class="max-sm:max-w-[300px]"
    src="assets/images/About-2.svg"
    alt="question"
  />
</div>
<div class="team py-5 bg-brand-50 flex justify-center items-center">
  <p class="text-brand-900 text-heading-lg leading-9 font-semibold">
    {{ 'team members' | uppercase }}
  </p>
</div>
<div class="team-info py-10 md:px-20 px-5">
  <app-carousel></app-carousel>
</div>
