@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import 'primeicons/primeicons.css';
@layer tailwind-base, primeng, tailwind-utilities;
@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

.almarai-light {
  font-family: 'Almarai', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.almarai-regular {
  font-family: 'Almarai', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.almarai-bold {
  font-family: 'Almarai', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.almarai-extrabold {
  font-family: 'Almarai', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.btn-primary {
  @apply py-2.5 px-5 flex items-center justify-center rounded-lg focus:outline-none bg-brand-500 text-white;
  transition: opacity 0.3s ease;
}

.btn-primary:hover {
  opacity: 0.7;
}

.btn-secondary {
  @apply py-2.5 px-5 flex items-center justify-center rounded-lg focus:outline-none border border-[#D1D5DE] text-brand-950;
  transition: opacity 0.3s ease;
}

.btn-secondary:hover {
  opacity: 0.7;
}

.testimonial-carousel .p-icon {
  @apply text-brand-500 w-9 h-9;
}

.testimonial-carousel .p-carousel .p-carousel-content .p-carousel-prev,
.testimonial-carousel .p-carousel .p-carousel-content .p-carousel-next {
  @apply w-9 h-9;
}

.testimonial-carousel
  .p-carousel
  .p-carousel-content
  .p-carousel-prev:enabled:hover,
.testimonial-carousel
  .p-carousel
  .p-carousel-content
  .p-carousel-next:enabled:hover {
  @apply bg-transparent;
}

.testimonial-carousel .p-carousel .p-carousel-indicators {
  @apply hidden;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  @apply bg-brand-100;
}

::-webkit-scrollbar-thumb {
  background: #00cde5;
  border-radius: 5px;
}

.modified-password-primeng .p-password,
.modified-password-primeng .p-inputtext {
  @apply w-full;
}

.modified-password-primeng .p-inputtext {
  @apply rounded-lg bg-[#ECECEC] outline-none border-none focus:ring-0 lg:px-5 lg:py-4 p-2;
}

/* .p-button {
  background-color: rgb(0 205 229 / var(--tw-bg-opacity));
  border: 1px solid rgb(0 205 229 / var(--tw-bg-opacity));
} */

.custom-calendar .p-calendar-w-btn .p-inputtext {
  background-color: rgb(236 236 236 / var(--tw-bg-opacity));
  width: 100%;
}

.custom-calendar .p-calendar {
  width: 100%;
}

.custom-dropdown .p-dropdown .p-dropdown-trigger .p-icon {
  color: rgb(0 205 229 / var(--tw-bg-opacity));
}
.custom-dropdown .p-dropdown {
  background-color: rgb(236 236 236 / var(--tw-bg-opacity));
  width: 100%;
}

.p-tooltip-text {
  @apply text-xs;
}

.delete {
  color: #ffffff;
  background: #ff4d4f;
}

.video-dialog .p-dialog-content {
  @apply flex items-center justify-center;
}
