<div class="clock-container">
  <div class="clock-col">
    <p class="clock-day clock-timer">{{ timer.day }}</p>
    <p class="clock-label">Day</p>
  </div>
  <div class="clock-col">
    <p class="clock-hours clock-timer">{{ timer.hours }}</p>
    <p class="clock-label">Hours</p>
  </div>
  <div class="clock-col">
    <p class="clock-minutes clock-timer">{{ timer.minutes }}</p>
    <p class="clock-label">Minutes</p>
  </div>
  <div class="clock-col">
    <p class="clock-seconds clock-timer">{{ timer.seconds }}</p>
    <p class="clock-label">Seconds</p>
  </div>
</div>
