<nav class="bg-white w-full z-30 top-0 start-0">
  <div class="flex flex-wrap items-center justify-between py-5 px-20">
    <div class="flex md:order-2 space-x-3 md:space-x-0">
      <div class="flex items-center gap-4">
        <button type="button" class="btn-secondary">Login</button>
        <button type="button" class="btn-primary">Sign up</button>
      </div>
      <button
        data-collapse-toggle="navbar-sticky"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        aria-controls="navbar-sticky"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-sticky"
    >
      <a [routerLink]="'/landing'" class="flex items-center space-x-3">
        <img src="assets/images/logo.png" class="w-16" alt="BisHelpers-Logo" />
      </a>
      <ul
        class="flex flex-col lg:gap-2 lg:px-6 lg:py-1 md:p-0 mt-4 font-medium rounded-lg md:flex-row md:mt-0 md:bg-white"
      >
        <li>
          <a
            [routerLink]="'/landing/home'"
            routerLinkActive="text-brand-500"
            class="block lg:py-2 lg:px-3 text-default-50 rounded md:hover:bg-transparent md:hover:text-brand-500 md:p-0 transition-all"
            aria-current="page"
            >Home</a
          >
        </li>
        <li>
          <a
            [routerLink]="'/landing/about'"
            routerLinkActive="text-brand-500"
            class="block lg:py-2 lg:px-3 text-default-50 rounded md:hover:bg-transparent md:hover:text-brand-500 md:p-0 transition-all"
            aria-current="page"
            >About</a
          >
        </li>
        <li>
          <a
            [routerLink]="'/landing/features'"
            routerLinkActive="text-brand-500"
            class="block lg:py-2 lg:px-3 text-default-50 rounded md:hover:bg-transparent md:hover:text-brand-500 md:p-0 transition-all"
            aria-current="page"
            >Features</a
          >
        </li>
        <li>
          <a
            [routerLink]="'/landing/faqs'"
            routerLinkActive="text-brand-500"
            class="block lg:py-2 lg:px-3 text-default-50 rounded md:hover:bg-transparent md:hover:text-brand-500 md:p-0 transition-all"
            aria-current="page"
            >FAQS</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
