<div class="p-4 sm:ml-64 mt-20">
  <div
    class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700"
  >
    <nav class="flex mb-4" aria-label="Breadcrumb">
      <ol
        class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
      >
        <li class="inline-flex items-center">
          <a
            routerLink="/dashboard"
            class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white"
          >
            <svg
              class="w-3 h-3 me-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"
              />
            </svg>
            Home
          </a>
        </li>
        <li aria-current="page">
          <div class="flex items-center">
            <svg
              class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"
              />
            </svg>
            <span
              class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400"
              >Gpa Analysis</span
            >
          </div>
        </li>
      </ol>
    </nav>

    <div class="flex justify-end items-center my-2.5">
      <div class="flex items-center">
        <span
          *ngIf="gpaReport; else id_loading_content"
          class="pr-5 font-bold text-lg"
          >{{ gpaReport.collegeId }}</span
        >
        <div class="relative p-7 bg-blue-900 rounded-lg"></div>
      </div>
    </div>
    <ng-template #id_loading_content>
      <p-skeleton width="10rem" height="2rem"></p-skeleton>
    </ng-template>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mb-4">
      <ng-container *ngIf="gpaReport; else loading_content">
        <app-report
          [gpaReport]="gpaReport"
          [stimulatedGPA]="GPAStimulation"
        ></app-report>
      </ng-container>
      <ng-template #loading_content>
        <p-skeleton width="100%" height="20rem"></p-skeleton>
      </ng-template>
      <div
        *ngIf="gpaReport; else loading_content"
        class="flex justify-between bg-white border border-gray-200 rounded-lg shadow p-3.5 flex-wrap-reverse"
      >
        <div>
          <div
            class="flex gap-2.5 items-center border-b border-black w-full pb-1"
          >
            <img src="assets/images/Academic.svg" />
            <p class="text-paragraph-md md:text-paragraph-lg">
              Academic Information
            </p>
          </div>
          <div class="flex flex-col gap-2 mt-2">
            <div class="flex gap-1.5 items-center">
              <img src="assets/images/level.svg" />
              <p class="text-paragraph-sm text-default-50 font-semibold">
                Level:
              </p>
              <span class="text-paragraph-sm text-black">{{
                gpaReport.level
              }}</span>
            </div>
            <div class="flex gap-1.5 items-center">
              <img src="assets/images/gpa.svg" />
              <p class="text-paragraph-sm text-default-50 font-semibold">
                GPA:
              </p>
              <span class="text-paragraph-sm text-black"
                >{{ gpaReport.gpa ? gpaReport.gpa : 'N/A' }} / 4</span
              >
            </div>
            <div class="flex gap-1.5 items-center">
              <img src="assets/images/grade.svg" />
              <p class="text-paragraph-sm text-default-50 font-semibold">
                Grade:
              </p>
              <span class="text-paragraph-sm text-black"> {{ Grade }}</span>
            </div>
            <div class="flex gap-1.5 items-center">
              <img src="assets/images/clock.svg" />
              <p class="text-paragraph-sm text-default-50 font-semibold">
                Total Earned Hours:
              </p>
              <span class="text-paragraph-sm text-black"
                >{{ gpaReport.totalEarnedHours }} /
                {{ gpaReport.totalCurrentHours }} Hours</span
              >
            </div>
            <div class="flex gap-1.5 items-center">
              <img src="assets/images/points.svg" />
              <p class="text-paragraph-sm text-default-50 font-semibold">
                Total Earned Points:
              </p>
              <span class="text-paragraph-sm text-black"
                >{{ gpaReport.totalEarnedPoints | number : '1.2-2' }} /
                {{ gpaReport.totalPoints | number : '1.2-2' }} points</span
              >
            </div>
          </div>
        </div>
        <div class="hidden lg:flex lg:flex-col justify-between mb-5">
          <img
            class="w-[100px] self-start"
            src="assets/images/bis-logo-report.svg"
            alt=""
          />
          <p-button
            (click)="showDialog()"
            icon="pi pi-external-link"
            label="Info"
          ></p-button>
        </div>
      </div>
      <p-dialog
        header="Information"
        [(visible)]="visible"
        [style]="{ width: '50vw' }"
      >
        <app-grades-degrees-points-table></app-grades-degrees-points-table>
      </p-dialog>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-4" *ngIf="AcademicLectures; else loading_content">
        <p-table [value]="AcademicLectures">
          <ng-template pTemplate="header">
            <tr>
              <th>Course Name</th>
              <th>Credit Hours</th>
              <th>Professor Name</th>
              <th>Stimulated GPA</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-lecture let-i="rowIndex">
            <tr [formGroup]="getLectureFormGroup(i)">
              <td>{{ lecture.academicCourse.name }}</td>
              <td>{{ lecture.academicCourse.creditHours }} Hours</td>
              <td>{{ lecture.professor.fullName }}</td>
              <td>
                <p-dropdown
                  formControlName="selectedGrade"
                  [options]="grades"
                  optionLabel="grade"
                  placeholder="Select a Grade"
                  appendTo="body"
                ></p-dropdown>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <div class="flex justify-end">
          <button
            class="py-3 px-5 gap-2 flex items-center justify-center rounded-lg focus:outline-none bg-brand-500 text-white m-4 font-bold"
            type="submit"
          >
            <i class="pi pi-check"></i>
            Stimulate GPA
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
